{% extends 'reenforce_ui/bootstrap.html' %}
{% load bootstrap3 %}
{% load static %}

{% block bootstrap3_content %}
<link rel="stylesheet" type="text/css" href="{% static 'docs.css' %}">
    <nav class="navbar navbar-static-top navbar-inverse">
	<div class="container-fluid">
	<div class="navbar-header">
	</div>
	</div>
    </nav>
    <div class="container">
	<h1>{% block title %}(no title){% endblock %}</h1>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
	{% block content %}(no content){% endblock %}

    </div>

{% endblock %}
